body,
html,
.wrap {
  width: 100%;
  height: 100vh;
  @apply text-textPrimary;
}
.wrap {
  @apply flex flex-col justify-between lato-regular;
}
.main {
  @apply grow;
}
.container {
  margin: 0 auto;
}
* {
  @apply rounded-sm;
}

.hidden-content {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.show-content {
  overflow: hidden;
  height: 999px;
  max-height: fit-content;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
