.swiper-pagination-bullet {
  background-color: #424551 !important;
  width: 30px !important;
  height: 3px !important;
  border-radius: 3px !important;
}
.swiper-pagination-horizontal {
  bottom: 100px !important;
  position: absolute;
  //   height: 500px;
}
